*{
    font-family: 'Nunito Sans', sans-serif;

}

ul {
    list-style: none;
}

.box{
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}

.nav{
    padding-top: 30vh;
    position: fixed;
    z-index: 1; /*fixed the issue with overlaping - not being able to click link*/
}

.nav img{
    width: 30px;
    height: 30px;
}

.contents{
    position: relative;
    padding-left: 120px;
    padding-right: 110px;
}

.footer{


}
